.list{
    background-image: url('https://images.wallpaperscraft.com/image/black_gray_smoke_233_300x168.jpg');
    background-repeat:no-repeat;
    background-size: cover

    
}
img{
    border-radius: 200px
}